<div class="card-panel col s12">
    <ul class="tabs" materialize="tabs">
        <li class="tab col s3"><a href="#rule-options">General</a></li>
        <li class="tab col s3"><a href="#advanced">Non-Payload</a></li>
        <li class="tab col s3"><a href="#rule-patterns">Payload</a></li>
        <li class="tab col s3"><a href="#post-detection">Post-Detection</a></li>
    </ul>
    <form>
        <div id="rule-options">
            <app-header-piece [rule]="rule"></app-header-piece>
            <app-general-piece [rule]="rule"></app-general-piece>
        </div>
        <div id="advanced">
            <div class="row">
                <div class="col l4 s12">
                    <app-flow-piece [rule]="rule"></app-flow-piece>
                    <app-fragbits-piece [rule]="rule"></app-fragbits-piece>
                </div>
                <div class="col l4 s12">
                    <app-protocol-piece [rule]="rule"></app-protocol-piece>
                </div>
                <div class="col l4 s12">
                    <app-flags-piece [rule]="rule"></app-flags-piece>
                </div>
            </div>
        </div>
        <div id="rule-patterns">
            <app-rule-patterns [rule]="rule"></app-rule-patterns>
        </div>
        <div id="post-detection">
            <div class="row">
                <div class="col l4 s12">
                    <app-post-detection-piece [rule]="rule"></app-post-detection-piece>
                </div>
                <div class="col l4 s12">
                    <app-tag-piece [rule]="rule"></app-tag-piece>
                    <app-threshold-piece [rule]="rule"></app-threshold-piece>
                </div>
                <div class="col l4 s12">
                    <app-detection-filter-piece [rule]="rule"></app-detection-filter-piece>
                </div>
            </div>
        </div>
    </form>
</div>
