<fieldset>
    <legend>Flow</legend>
    <div class="row">
        <div class="col s12 input-field">
            <select materialize="material_select" [(ngModel)]="rule.opts.flow">
                <option value="">None</option>
                <option value="established">Established</option>
                <option value="not_established">Not Established</option>
                <option value="stateless">Stateless</option>
            </select>
            <label>Flow</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field">
            <select materialize="material_select" [(ngModel)]="rule.opts.flow_dir">
                <option value="">None</option>
                <option value="to_server">To Server</option>
                <option value="from_server">From Server</option>
                <option value="to_client">To Client</option>
                <option value="from_client">From Client</option>
            </select>
            <label>Direction</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field">
            <select materialize="material_select" [(ngModel)]="rule.opts.flow_stream">
                <option value="">None</option>
                <option value="no_stream">No Stream</option>
                <option value="only_stream">Only Stream</option>
            </select>
            <label>Stream</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field">
            <select materialize="material_select" [(ngModel)]="rule.opts.flow_frag">
                <option value="">None</option>
                <option value="no_frag">No Frag</option>
                <option value="only_frag">Only Frag</option>
            </select>
            <label>Frag</label>
        </div>
    </div>
</fieldset>
