<div class="row">
    <div class="col l3 s12">
        <div class="row">
        <ul class="col s6 l12 table-of-contents">
            <li><a (click)="add('content')">Add content pattern</a></li>
            <li><a (click)="add('regex')">Add regex pattern</a></li>
            <li><a (click)="add('flowbits')">Add flow bits</a></li>
            <li><a (click)="add('modifier')">Add cursor modifier</a></li>
            <li><a (click)="add('bytetest')">Add byte test</a></li>
            <li><a (click)="add('bytejump')">Add byte jump</a></li>
            <li><a (click)="add('byteextract')" *ngIf="byteExtracts < 2">Add byte extract</a></li>
        </ul>
        <div class="col s6 l9 offset-l1 card red darken-4">
            <div class="card-content white-text">
                <span class="card-title">Hex Helper</span>
                <div class="row">
                    <input class="browser-default" type="text" [(ngModel)]="input" size=5>
                </div>
                <div class="row">
                    <button (click)="to_hex()" class="btn red waves-effect waves-light darken-2 col s6">To hex</button>
                    <button (click)="to_ascii()" class="btn red waves-effect waves-light darken-2 col s6">To str</button>
                </div>
                <div class="row">
                    <span>{{output}}</span>
                </div>
            </div>
        </div>
        </div>
    </div>
    <ul class="wrapper collapsible popout col l9 s12" data-collapsible="accordion" materialize="collapsible" [dragula]="'rule-patterns'" [dragulaModel]="rule.payloads">
        <li *ngFor="let bit of rule.payloads; let i = index" [ngSwitch]="bit.t">
            <div class="collapsible-header">
                <i class="material-icons">drag_handle</i>
                <span *ngSwitchWhen="'regex'" class="limited-length">Regex: /{{bit.regex}}/</span>
                <span *ngSwitchWhen="'content'" class="limited-length">Content Pattern: {{bit.pattern}}</span>
                <span *ngSwitchWhen="'flowbits'">Flow Bits: {{(bit.action || 'set')}} {{bit.flowbits}}</span>
                <span *ngSwitchWhen="'modifier'">Modifier: {{bit.val}}</span>
                <span *ngSwitchWhen="'bytejump'">Byte Jump</span>
                <span *ngSwitchWhen="'byteextract'">Byte Extract</span>
                <span *ngSwitchWhen="'bytetest'">Byte Test</span>
                <button class="btn red darken-4" (click)="remove(i)"><i class="material-icons">close</i></button>
            </div>
            <div class="collapsible-body">
                <div class="container" *ngSwitchWhen="'regex'">
                    <app-payload-regex [bit]="bit" [i]="i"></app-payload-regex>
                </div>
                <div class="container" *ngSwitchWhen="'content'">
                    <app-payload-content [bit]="bit" [i]="i"></app-payload-content>
                </div>
                <div class="container" *ngSwitchWhen="'flowbits'">
                    <app-payload-flowbits [bit]="bit" [i]="i"></app-payload-flowbits>
                </div>
                <div class="container" *ngSwitchWhen="'modifier'">
                    <app-payload-modifier [bit]="bit" [i]="i"></app-payload-modifier>
                </div>
                <div class="container" *ngSwitchWhen="'bytetest'">
                    <app-payload-bytetest [bit]="bit" [i]="i"></app-payload-bytetest>
                </div>
                <div class="container" *ngSwitchWhen="'byteextract'">
                    <app-payload-byteextract [bit]="bit" [i]="i"></app-payload-byteextract>
                </div>
                <div class="container" *ngSwitchWhen="'bytejump'">
                    <app-payload-bytejump [bit]="bit" [i]="i"></app-payload-bytejump>
                </div>
            </div>
        </li>
    </ul>
</div>
