<header *ngIf="webApp">
    <nav class="red darken-4">
        <div class="nav-wrapper" style="padding-left:10px">
            <a href="#" class="brand-logo">Old Major</a>
        </div>
    </nav>
</header>
<main style="padding: 10px;">
    <app-rule-output [invalidFields]="invalidFields" [rule]="rule"></app-rule-output>
    <app-rule-form [rule]="rule"></app-rule-form>
</main>
<footer class="page-footer red darken-4" *ngIf="webApp">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About This Tool</h5>
                <p class="grey-text text-lighten-4">Snort rules are hard.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.snort.org">Snort</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/leonward/dumbpig">DumbPig</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2016 eSentire. Icon by Nicholas Mollet, used under CC-BY-SA 3.0.
        </div>
    </div>
</footer>
