<fieldset>
    <legend>Header</legend>
    <div class="row">
        <div class="col s3">
            <label>Rule State</label>
            <div class="switch">
                <label>
                    Disabled
                    <input type="checkbox" [(ngModel)]="rule.enabled">
                    <span class="lever">&nbsp;</span> Enabled
                </label>
            </div>
        </div>
        <div class="col s5 input-field">
            <select [(ngModel)]="rule.action" materialize="material_select">
                <option value="alert">alert</option>
                <option value="log">log</option>
                <option value="pass">pass</option>
                <option value="activate">activate</option>
                <option value="Payload">Payload</option>
            </select>
            <label>Action</label>
        </div>
        <div class="col s4 input-field">
            <select [(ngModel)]="rule.proto" materialize="material_select">
                <option value="tcp">tcp</option>
                <option value="udp">udp</option>
                <option value="icmp">icmp</option>
                <option value="ip">ip</option>
            </select>
            <label>Protocol</label>
        </div>
    </div>
    <div class="row">
        <div class="col s3 input-field">
            <input type="text" class="validate" pattern="^!?((((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?)|(\[((((((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?))|(\$\w+)),?)*\])|\$\w+)|any$" placeholder="IP address, CIDR, list, or variable" list="net_variables" [(ngModel)]="rule.src">
            <label data-error="Invalid input">Source IP</label>
        </div>
        <div class="col s2 input-field">
            <input type="text" class="validate" pattern="^!?((\d+)$|(\d+:)|(:\d+)|(\d+:\d+)|\$\w+)|any$" placeholder="Port, range, or variable" list="port_variables" [(ngModel)]="rule.sport">
            <label data-error="Invalid input">Source Port</label>
        </div>
        <div class="col s2">
            <label>Direction</label>
            <button class="btn red darken-4 waves-effect waves-light" (click)="toggleDir()"><i class="material-icons">{{rule.dir == '-&gt;' ? "trending_flat" : "swap_horiz"}}</i></button>
        </div>
        <div class="col s3 input-field">
            <input type="text" class="validate" pattern="^!?((((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?)|(\[((((((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?))|(\$\w+)),?)*\])|\$\w+)|any$" placeholder="IP address, CIDR, list, or variable" list="net_variables" [(ngModel)]="rule.dst">
            <label data-error="Invalid input">Destination IP</label>
        </div>
        <div class="col s2 input-field">
            <input type="text" class="validate" pattern="^!?((\d+)$|(\d+:)|(:\d+)|(\d+:\d+)|\$\w+)|any$" placeholder="Port, range, or variable" list="port_variables" [(ngModel)]="rule.dport">
            <label data-error="Invalid input">Destination Port</label>
        </div>
        <datalist id="net_variables">
            <option *ngFor="let v of hostVariables" value="{{v}}"></option>
        </datalist>
        <datalist id="port_variables">
            <option *ngFor="let v of portVariables" value="{{v}}"></option>
        </datalist>
    </div>
</fieldset>
