<fieldset>
    <legend>Flags</legend>
    <div class="row">
        <div class="col s12 input-field">
            <select materialize="material_select" [(ngModel)]="rule.opts.flags_mod">
                <option value="only">Only</option>
                <option value="plus">Plus</option>
                <option value="any">Any</option>
                <option value="not">Not</option>
            </select>
            <label>Modifier</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered">
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_0" [(ngModel)]="rule.opts.flags_none_chk" [disabled]="rule.opts.flags_fin_chk || rule.opts.flags_syn_chk || rule.opts.flags_rst_chk || rule.opts.flags_psh_chk || rule.opts.flags_ack_chk || rule.opts.flags_urg_chk || rule.opts.flags_cwr_chk || rule.opts.flags_ece_chk" />
                            <label for="flags_0" materialize="tooltip" class="tooltipped" data-tooltip="No flags set" data-position="right" data-delay="50">None</label>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_f" [(ngModel)]="rule.opts.flags_fin_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_f" materialize="tooltip" class="tooltipped" data-tooltip="Finish" data-position="right" data-delay="50">FIN</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_fin" [disabled]="!rule.opts.flags_fin_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_s" [(ngModel)]="rule.opts.flags_syn_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_s" materialize="tooltip" class="tooltipped" data-tooltip="Synchronize" data-position="right" data-delay="50">SYN</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_syn" [disabled]="!rule.opts.flags_syn_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_r" [(ngModel)]="rule.opts.flags_rst_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_r" materialize="tooltip" class="tooltipped" data-tooltip="Reset" data-position="right" data-delay="50">RST</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_rst" [disabled]="!rule.opts.flags_rst_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_p" [(ngModel)]="rule.opts.flags_psh_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_p" materialize="tooltip" class="tooltipped" data-tooltip="Push" data-position="right" data-delay="50">PSH</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_psh" [disabled]="!rule.opts.flags_psh_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_a" [(ngModel)]="rule.opts.flags_ack_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_a" materialize="tooltip" class="tooltipped" data-tooltip="Acknowledgement" data-position="right" data-delay="50">ACK</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_ack" [disabled]="!rule.opts.flags_ack_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_u" [(ngModel)]="rule.opts.flags_urg_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_u" materialize="tooltip" class="tooltipped" data-tooltip="Urgent" data-position="right" data-delay="50">URG</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_urg" [disabled]="!rule.opts.flags_urg_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_c" [(ngModel)]="rule.opts.flags_cwr_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_c" materialize="tooltip" class="tooltipped" data-tooltip="Congestion Window Reduced" data-position="right" data-delay="50">CWR</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_cwr" [disabled]="!rule.opts.flags_cwr_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="flags_e" [(ngModel)]="rule.opts.flags_ece_chk" [disabled]="rule.opts.flags_none_chk" />
                            <label for="flags_e" materialize="tooltip" class="tooltipped" data-tooltip="ECN Echo" data-position="right" data-delay="50">ECE</label>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Ignore
                                    <input type="checkbox" [(ngModel)]="rule.opts.flags_ece" [disabled]="!rule.opts.flags_ece_chk">
                                    <span class="lever">&nbsp;</span> Present
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
