.switch {
    margin-top: 10px;
}

.btn {
    width: 100%;
}

.collapsible-header .btn {
    height: 100%;
    float: right;
    margin-right: -15px;
    padding-right:0;
    padding-left: 15px;
    width: auto;
}

.limited-length {
    width: 50em;
    height: 2em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}