.switch {
    margin-top: 10px;
}

.btn {
    width: 100%;
}

.btn-close {
    float: right;
}

.limited-length {
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
    line-height: 1em;
}